.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  font-size: calc(10px + 2vmin);
}

button {
  font-size: 90%;
  font-family: inherit;
  background: #2980b9;
  color: white;
  padding: 5px 8px;
  margin-left: 16px;
  border: 0;
  border-radius: 3px;
}

input {
  font-size: 100%;
  font-family: inherit;
}
